name: Build and release

on:
    push:
        branches:
            - main

permissions:
    contents: write

jobs:
    release:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
              with:
                fetch-depth: 0 #this fetches the full history of the repository
            
            - name: Bump version and tag
              id: tag_version
              uses: mathieudutour/github-tag-action@v6.2
              with:
                github_token: ${{ secrets.GITHUB_TOKEN }}
                default_bump: patch
                release_branches: main
              
            - name: Setup Buf
              uses: bufbuild/buf-action@v1
              with:
                setup_only: true
              
            - name: Generate code
              run: |
                buf generate src --template '{"version":"v1","plugins":[{"name":"js","out":"gen/js"}]}'
                buf generate src --template '{"version":"v1","plugins":[{"name":"dart","out":"gen/dart/lib"}]}'

            
            